
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.admin-articles {
    display: flex;
    background: white;
}
  
.articles-content {
    width: 100%;
    margin-top: 150px; 
    margin-left: 250px; 
    padding: 20px;
    min-height: 100vh;
    color: white; 
    overflow-y: auto;
  }




.articles-table{
    width: 100%;
    border-collapse: collapse;
}

.articles-table th,
.articles-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
}

.articles-table th{
    background-color: #e8e5d9;
    color: black;
}

.thead {
    background-color: black;
}

.search-container .search-input{
    border-radius: 100px;
    padding: 10px 30px;
    border: 1px solid black;
}


.articles-header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.articles-header button{
    padding: 10px 30px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.articles-header button:hover{
    background-color: #005249;
}

.articles-header input {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
}

.articles-header .search-bar{
    display: flex;
    gap: 10px;
}

.articles-header .add-new-article{
    display: flex;  
}

.articles-table button{
    padding: 10px 30px;
    background: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.articles-table button:hover{
    background-color: #999;
}

.pagination{
    color: black;
}

.pagination span{
    margin-top: 5px;
}
