* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-knowledge {
    display: flex;
    background: white;
}
  
.knowledge-content {
    width: 100%;
    margin-top: 150px; 
    margin-left: 250px; 
    padding: 20px;
    min-height: 100vh;
    color: black;
    overflow-y: auto;
}

.knowledge-table{
    width: 100%;
    border-collapse: collapse;
}

.knowledge-table th,
.knowledge-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
}

.knowledge-table th{
    background-color: #e8e5d9;
    color: black;
}

.thead {
    background-color: black;
}


.knowledge-header{
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.knowledge-header button{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.knowledge-header button:hover{
    background-color: #005249;
}

.knowledge-header input {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
    margin-top: 10px;
}

.knowledge-header .search-bar{
    display: flex;
    gap: 10px;
}

.knowledge-header .add-new-knowledge{
    display: flex;  
}

.knowledge-table button{
    padding: 10px 30px;
    background: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.knowledge-table button:hover{
    background-color: #999;
}

.pagination{
    color: black;
}

.pagination span{
    margin-top: 5px;
}

@media(max-width: 768px){    
    .knowledge-content{
        margin-left: 0px;
        margin-top: 170px;
    }
}