.dashboard-header .members-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.dashboard-header.members-header .search-bar{
    display: flex;
    gap: 10px;
}


.dashboard-header .members-header button {
    margin-right: 10px;
    color: black;
    background-color: white;
    border: none;
    font-size: large;
    
}

.dashboard-header .members-header .active {
    font-weight: bold;
}

.dashboard-header .members-header button:hover {
    cursor: pointer;
    font-weight: bold ;
}



.dashboard-header .members-header input {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
}

@media (max-width: 768px) {
    .dashboard-header .members-header button{
        font-size: 1em;
    }
}