.hikeDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
}

.hikeDetail-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hikeDetail-image {
  width: 100%;
  max-width: 400px; /* Adjust the max-width to make the image smaller */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hikeDetail-info {
  text-align: center;
}

.hikeDetail-info h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #218838;
  margin-bottom: 16px;
}

.hikeDetail-info p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 16px;
}

.details {
  text-align: left;
  margin-top: 16px;
}

.details p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.details .icon {
  margin-right: 8px;
}

.details .text {
  color: #555;
}

.register-button {
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}

.register-button:hover {
  background-color: #218838;
}