/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/images/background.png'); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  border-radius: 8px; /* Add rounded corners to the container */
  overflow: hidden; /* Ensure content doesn't overflow rounded corners */
}

/* Login Box */
.login-box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 8px; /* Match the rounded corners of the hiker image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  overflow: hidden;
  width: 800px; /* Adjust width as needed */
  max-width: 90%;
}


/* Login Content */
.login-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-content p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.login-content a {
  color: #42AC32;
  text-decoration: none;
}

.login-content a:hover {
  text-decoration: underline;
}

/* Form Styles */
.login-content form {
  display: flex;
  flex-direction: column;
}

.login-content label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.login-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-content button {
  width: 100%;
  padding: 10px;
  background-color: #42AC32;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-content button:hover {
  background-color:  #45a049;
}

/* Login Image */
.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background-color: transparent; /* Remove the light gray background */
}

.login-image img {
  width: 300px; /* Set the width of the square */
  height: 300px; /* Set the height of the square */
  object-fit: cover; /* Crop the image to fit the square */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}
